@font-face {
	font-family: PostNoBillsJAffna-bold;
	src: url("../font/PostNoBillsJaffna-Bold.ttf");
}
@font-face {
	font-family: PostNoBillsJAffna-reg;
	src: url("../font/PostNoBillsJaffna-Regular.ttf");
}